<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css", rel="stylesheet")
        link(rel="stylesheet", href="./main/css/main.css")
    body
    .container
        .row
            h1 Message throught number
            
            input(type="tel", id="phone", placeholder="phone number")
            input(type="text", id="message", placeholder="message")
            input(type="button", value="send" class="button-primary")

            p#response.
                response text  
                

